.DS_Store

# IDE
.idea
.vscode

# Build artifacts
target
pkg
/bins/LICENSE

# DevOps stuff
.terraform
terraform.tfvars
terraform.tfstate*
.terraform.tfstate.lock.info

# dotenv
.env
.env.*
!.env.example
!.env.*.example
